<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Gypsy Roboto</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bona+Nova:ital@1&family=Uchen&display=swap" rel="stylesheet">
  </head>
  <body>
     
    <h1>Upload a photo and the Gypsy Robot will guess your age: </h1>
    <img src="Futurama_robot_gypsy.jpg" id="robot" alt="robot gypsy">
    <form action="/" enctype="multipart/form-data" method="post">
      <input type="file" name="file-to-upload">
      <input type="submit" id="upload" value="Upload">
    </form>  
  </body>
</html>